body{
    background-color: #343434 ;
} 


header{
    color: #fff;
    text-align: center;
} 

div.titre{
    color: #ffc924;
    font-size: 45px;
}

div.menu{
  display: flex;
  text-align: flex-center;
 
}
 







/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 10px auto;
    background-color: #272727;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 33.333%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 1px #ffc924;
    background-color: #272727;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}



div.present{
    background-color: #3D3D3D;
    margin: 10px 10px 10px 10px;
    padding: 15px 10px 15px 10px;
    border-radius:15px;
    margin-top: 40px;
}

p.txt{
    padding-top: 15px;
    color: white ;
}

p.title, p.tt{
    color:#ffc924 ;
    font-size: 25px;
}
div.img{
    background: #3D3D3D;
    border-radius:20px;
    margin: 10px ;
    padding-top: 10px;
margin-top: 40px;
} 
div.imv{
    border-radius:20px;
    border: 2px solid #ffc924 ;
    background-image: url('https://cdn.discordapp.com/attachments/551458497997438976/834088559056912444/Screenshot_20210420_172833.jpg') ;
    background-size: 100% ;
    background-position-y:70%;
    padding:125px ;
    
}

p.imgg{
    color:#ffc924 ;
    font-size:25px;
    padding: 10px;
}



div.foo{
    background-color:#232323;
    border-radius: 15px 15px 0px 0px;
    padding: 15px;
}


div.sch{
    background-color:#3D3D3D ;
    margin: 10px;
    padding: 10px;
    border-radius:20px;
    margin-top: 40px;
}

p.rr{
    margin: 10px;
    font-size:20px;
    color:white;
}

li.schh{
    color: grey;
}
a.schh{
    text-decoration: none;
    color: white;
}

a.schh:hover{
    color:#ffc924 ;
animation-duration: 1.2s;
}

a.schh:onclick{
    color: #ffc924;
animation-duration: 100s;
}

p.foo{
    text-align: center;
    color: #ADADAD;
}

@media (max-width:700px){
    body{
        background-color: #343434;
        } 
    div.titre{
        font-size: 65px; 
        
    } 
    div.imv{
        padding: 80px 20px;
        
    }
    
}